.search-bar-left {
    width: 370px;
    height: 18px;
    border-radius: 100px 0 0 100px;
    border: 2px solid black;
    outline: none;
    padding: 15px 25px;
    background-color: var(--main-color);
    caret-color: black;
    color: black;
    font-size: 16px;
}